<div data-ng-class="elemCss.searchBox" data-ng-if="!tableConfig.searchOff && (tableConfig.searchElem || tableConfig.backFn)">
	<form data-ng-submit="tableConfig.searchFn(tableConfig.searchObj)">
		<span data-ng-repeat="(x, obj) in tableConfig.searchElem">
			<span data-ng-if="obj.subject"><span data-ng-bind="obj.subject" data-ng-class="obj.thCss" data-ng-style="obj.thStyle"></span>:</span>
			<input data-ng-if="!obj.select && !obj.datePicker" type="text" data-ng-class="obj.objCss || elemCss.short" data-ng-style="obj.objStyle" placeholder="{{ obj.text }}" data-ng-model="tableConfig.searchObj[obj.name]" />
			<input data-ng-if="!obj.select && obj.datePicker" type="text" data-ng-class="obj.objCss || elemCss.short" data-ng-style="obj.objStyle" placeholder="{{ obj.text }}" autocomplete="off" data-ng-model="tableConfig.searchObj[obj.name]" data-jq-date-picker />
			<select data-ng-if="obj.select" data-ng-class="obj.objCss || elemCss.select" data-ng-style="obj.objStyle" data-ng-model="tableConfig.searchObj[obj.name]" data-ng-options="opt.id as opt.name for opt in obj.select">
				<option value="">{{ obj.text }}</option>
			</select>
			<span class="tf-help tf-help-shorter tf-help-icon" data-ng-style="obj.helpStyle" data-con="{{ obj.help }}" data-ng-if="obj.help"></span>
			&nbsp;&nbsp;&nbsp;
		</span>
		<a data-ng-class="obj.searchCss || elemCss.btn" data-ng-style="obj.searchStyle" data-ng-click="tableConfig.searchFn(tableConfig.searchObj)" target="_self" data-ng-if="tableConfig.searchFn">Search</a>
		<a data-ng-class="obj.clearCss || elemCss.btn" data-ng-style="obj.clearStyle" data-ng-click="tableConfig.clearFn()" target="_self" data-ng-if="tableConfig.clearFn">Clear</a>
		<a data-ng-class="obj.backCss || elemCss.backLink" data-ng-style="obj.backStyle" data-ng-click="tableConfig.backFn()" target="_self" data-ng-if="tableConfig.backFn"><< Back</a>
	</form>
</div>

<div data-ng-class="tableConfig.choiceCss || elemCss.choiceBtnBox" data-ng-style="tableConfig.choiceStyle" data-ng-if="(!db.tableInitOff && !db.allTableDataHide && tableData && (tableConfig.choiceBtn || tableConfig.filter)) || tableConfig.searchFn && tableConfig.total > tableConfig.limit">
	<a data-ng-class="obj.css || elemCss.btn"  data-ng-style="obj.style" data-ng-repeat="(x, obj) in tableConfig.choiceBtn" data-ng-click="obj.fn(db.checkbox[tableConfig.name], tableData)" target="_self">{{ obj.text }} </a>
	<input data-ng-if="tableData && tableConfig.filter" type="text" data-ng-class="(tableConfig.filterCss? tableConfig.filterCss: elemCss.filter || elemCss.short)" placeholder="Filter" autocomplete="off" data-ng-model="tableConfig.filterValue" />
</div>
<div data-ng-class="elemCss.pageBox" data-ng-if="!db.tableInitOff && !db.allTableDataHide && tableConfig.total">
	<span data-ng-class="elemCss.pageRecord">Total records: <b data-ng-bind="tableConfig.total"></b> <span data-ng-if="tableConfig.totalPage > 1"> (<span data-ng-bind="tableConfig.page"></span>/<span data-ng-bind="tableConfig.totalPage"></span>)</span></span>
	<span data-ng-class="elemCss.pageCtrl" data-ng-if="tableConfig.totalPage > 1">
		<a data-ng-if="tableConfig.page > 1" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page - 1)" target="_self">Last</a>
		<a data-ng-if="tableConfig.page - 5 > 1" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, 1)" target="_self">1</a>
		<a data-ng-if="tableConfig.page - 5 >= 1" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page - 5)" target="_self" data-ng-bind="tableConfig.page - 5 == 1? 1: '...'"></a>
		<a data-ng-if="tableConfig.page - 4 >= 1" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page - 4)" target="_self" data-ng-bind="tableConfig.page - 4"></a>
		<a data-ng-if="tableConfig.page - 3 >= 1" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page - 3)" target="_self" data-ng-bind="tableConfig.page - 3"></a>
		<a data-ng-if="tableConfig.page - 2 >= 1" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page - 2)" target="_self" data-ng-bind="tableConfig.page - 2"></a>
		<a data-ng-if="tableConfig.page - 1 >= 1" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page - 1)" target="_self" data-ng-bind="tableConfig.page - 1"></a>
		<span data-ng-bind="tableConfig.page"></span>
		<a data-ng-if="tableConfig.page + 1 <= tableConfig.totalPage" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page + 1)" target="_self" data-ng-bind="tableConfig.page + 1"></a>
		<a data-ng-if="tableConfig.page + 2 <= tableConfig.totalPage" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page + 2)" target="_self" data-ng-bind="tableConfig.page + 2"></a>
		<a data-ng-if="tableConfig.page + 3 <= tableConfig.totalPage" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page + 3)" target="_self" data-ng-bind="tableConfig.page + 3"></a>
		<a data-ng-if="tableConfig.page + 4 <= tableConfig.totalPage" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page + 4)" target="_self" data-ng-bind="tableConfig.page + 4"></a>
		<a data-ng-if="tableConfig.page + 5 <= tableConfig.totalPage" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page + 5)" target="_self" data-ng-bind="tableConfig.page + 5 == tableConfig.totalPage? tableConfig.totalPage: '...'"></a>
		<a data-ng-if="tableConfig.page + 5 < tableConfig.totalPage" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.totalPage)" target="_self" data-ng-bind="tableConfig.totalPage"></a>
		<a data-ng-if="tableConfig.page < tableConfig.totalPage" data-ng-class="elemCss.pageNum" data-ng-click="tableConfig.searchFn(tableConfig.searchValue, tableConfig.page + 1)" target="_self">Next</a>
	</span>
</div>
<table data-ng-class="elemCss.table" data-ng-init="fieldCount = (tableConfig.objField? tableConfig.objField.length:0) + (tableConfig.choiceBtn? 1: 0) + (tableConfig.listBtn? 1: 0)" border="0" cellspacing="0" cellpadding="0"  data-ng-if="!db.tableInitOff && !db.allTableDataHide">
	<colgroup>
		<col data-ng-if="tableConfig.choiceBtn">
		<col width="{{ obj.width }}" data-ng-repeat="(x, obj) in tableConfig.objField" data-ng-if="obj.elem != 'row'">
		<col data-ng-if="tableConfig.listBtn">
	</colgroup>
  	<thead>
  		<tr data-ng-class="elemCss.tableThTr">
  			<th data-ng-class="elemCss.tableTh" data-ng-if="tableConfig.choiceBtn">
  				<input type="checkbox" data-ng-class="elemCss.choice" data-ng-checked="db.checkboxAll[tableConfig.name]" data-ng-click="db.clickAll(tableConfig.name, tableData)">
  			</th>  
  			<th data-ng-class="obj.thCss? obj.thCss :(obj.right? elemCss.tableThRight: elemCss.tableTh)"  data-ng-style="obj.thStyle" data-ng-repeat="(x, obj) in tableConfig.objField" data-ng-if="display != 'row'">{{ obj.text }}<span class="tf-help tf-help-long tf-help-icon" data-con="{{ obj.help }}" data-ng-if="obj.help"></span></th>
  			<th data-ng-class="elemCss.tableTh" data-ng-if="tableConfig.listBtn">Action</th>
  		</tr> 
	</thead>
	<tbody>
		<tr data-ng-if="!tableData || tableConfig.total == 0"><td colspan="{{ fieldCount }}" data-ng-bind="tableConfig.noDataMsg || 'No data'"></td></tr> 
		<tr data-ng-if="!tableConfig.objField"><td colspan="{{ (tableConfig.choiceBtn? 1: 0) + (tableConfig.listBtn? 1: 0) }}">No object data</td></tr> 
	  	<!--  勾选  TR1/3-->
		<tr class="{{ elemCss.tableTr }}" data-ng-class="{'lineTr': tableConfig.lineTr && $parent.$even}" data-ng-repeat-start="(dataIndex, data) in tableData | filter: tableConfig.filterValue" data-ng-if="tableData && tableConfig.objField && !data.recordHide">
		  <td data-ng-class="elemCss.tableTd" rowspan="1" data-ng-if="tableConfig.choiceBtn">
		  	<input type="checkbox" data-ng-class="elemCss.choice" data-ng-checked="db.checkbox[tableConfig.name][dataIndex]" data-ng-click="db.checkbox[tableConfig.name][dataIndex] = (db.checkbox[tableConfig.name][dataIndex]? false: true)">
		  </td>
		  <td data-ng-class="obj.thCss? obj.thCss :(obj.right === true? elemCss.tableTdRight: elemCss.tableTd)"  data-ng-style="obj.tdStyle" data-ng-repeat="(x, obj) in tableConfig.objField" data-ng-if="obj.elem != 'row'" 
		  		data-ng-init="data['scope_' + obj.name] = (obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')">
		  	<!-- text -->
			<span data-ng-if="!data.dataHide[obj.name] && obj.elem == 'text'">{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}</span>
			<!-- num -->
			<span data-ng-if="!data.dataHide[obj.name] && obj.elem == 'num'">{{ data[obj.name] | number:obj.unit  }}</span>
			<!-- small -->
			<span data-ng-class="elemCss.smallText" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'small'">{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}</span>
			<!-- light -->
			<span data-ng-class="elemCss.lightText" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'light'">{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}</span>
			<!-- timestamp -->
			<span data-ng-class="elemCss.normalText" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'timestamp'">{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) | date: (obj.pattem || "yyyy-MM-dd HH:mm:ss") }}</span>
			<!-- url -->
			<a data-ng-class="elemCss.linkText" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'url'" data-ng-href="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}" target="_blank">{{ obj.dist || ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}</a>
			<!-- click -->
			<a data-ng-class="elemCss.linkText" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'click'" data-ng-href="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}" target="_blank">{{ obj.dist || data[obj.name] }}</a>
			<!-- selfurl -->
			<a data-ng-class="elemCss.linkText" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'selfurl'" data-ng-href="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}" target="_self">{{ obj.dist || ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}</a>
			<!-- selfclick -->
			<a data-ng-class="elemCss.linkText" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'selfclick'" data-ng-href="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}" target="_self">{{ obj.dist || data[obj.name] }}</a>
			<!-- password -->
			<span data-ng-class="elemCss.normalText" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'password'">{{ (((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) | limitTo: 2) + '****' }}</span>
			<!-- img -->
			<img data-ng-class="elemCss.img" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'img' && !imgzoom[dataIndex]" data-ng-click="imgzoom[dataIndex] = true" data-ng-src="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}" />
			<img data-ng-class="elemCss.imgzoom" data-ng-if="!data.dataHide[obj.name] && obj.elem == 'img' && imgzoom[dataIndex]" data-ng-click="imgzoom[dataIndex] = false" data-ng-src="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}" />
			<!-- fn -->
			<a data-ng-class="elemCss.linkText" data-ng-click="obj.fn(dataIndex, tableConfig.objKeys, data, obj.name, ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')))" data-ng-if="!data.dataHide[obj.name] && obj.fn" target="_self">{{ obj.dist || ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}</a>
		  </td>
		  <td data-ng-class="elemCss.tableTd" rowspan="1" data-ng-if="tableConfig.listBtn">
		  	<a data-ng-class="obj.css || elemCss.minibtn" data-ng-repeat="(x, obj) in tableConfig.listBtn" data-ng-click="obj.fn(dataIndex, tableConfig.objKeys, data)" data-ng-if="!data.listBtnHide[obj.name]" target="_self" title="{{ obj.title || '' }}">{{ obj.text }}</a>
		  </td>
		</tr>
		<tr class="{{ elemCss.tableTr }}" data-ng-class="{'lineTr': tableConfig.lineTr && $parent.$even}" data-ng-repeat="(x, obj) in tableConfig.objField" data-ng-if="obj.elem == 'row' && !data.recordHide">
		  <td colspan="{{ fieldCount }}" data-ng-class="obj.thCss? obj.thCss :(obj.right === true? elemCss.tableTdRight: elemCss.tableTd)" data-ng-class="{'lineTd': $parent.$even}" data-ng-style="obj.tdStyle"  >{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: data[obj.name]) + (obj.unit || '')) }}</td>
		</tr>
		<tr class="{{ elemCss.tableTr }}" data-ng-class="{'lineTr': tableConfig.lineTr && $parent.$parent.$even}" data-ng-repeat="(listIndex, listData) in data.internalist" data-ng-if="data.internalist && data.internaListShow" data-ng-repeat-end>
		  <td data-ng-class="obj.thCss? obj.thCss :(obj.right === true? elemCss.tableTdRight: elemCss.tableTd)"  data-ng-style="obj.tdStyle" data-ng-repeat="(x, obj) in tableConfig.objField"
		  		data-ng-init="listData['scope_' + obj.name] = ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || ''))">
		  	<!-- text -->
			<span data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'text'">{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}</span>
			<!-- num -->
			<span data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'num'">{{ listData[obj.name] | number:obj.unit  }}</span>
			<!-- small -->
			<span data-ng-class="elemCss.smallText" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'small'">{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}</span>
			<!-- light -->
			<span data-ng-class="elemCss.lightText" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'light'">{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}</span>
			<!-- timestamp -->
			<span data-ng-class="elemCss.normalText" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'timestamp'">{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) | date: (obj.pattem || "yyyy-MM-dd HH:mm:ss") }}</span>
			<!-- url -->
			<a data-ng-class="elemCss.linkText" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'url'" data-ng-href="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}" target="_blank">{{ obj.dist || ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}</a>
			<!-- click -->
			<a data-ng-class="elemCss.linkText" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'click'" data-ng-href="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}" target="_blank">{{ obj.dist || listData[obj.name] }}</a>
			<!-- selfurl -->
			<a data-ng-class="elemCss.linkText" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'selfurl'" data-ng-href="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}" target="_self">{{ obj.dist || ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}</a>
			<!-- selfclick -->
			<a data-ng-class="elemCss.linkText" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'selfclick'" data-ng-href="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}" target="_self">{{ obj.dist || listData[obj.name] }}</a>
			<!-- password -->
			<span data-ng-class="elemCss.normalText" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'password'">{{ (((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) | limitTo: 2) + '****' }}</span>
			<!-- img -->
			<img data-ng-class="elemCss.img" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'img' && !imgzoom[listIndex]" data-ng-click="imgzoom[listIndex] = true" data-ng-src="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}" />
			<img data-ng-class="elemCss.imgzoom" data-ng-if="!listData.dataHide[obj.name] && obj.elem == 'img' && imgzoom[listIndex]" data-ng-click="imgzoom[listIndex] = false" data-ng-src="{{ ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}" />
			<!-- fn -->
			<a data-ng-class="elemCss.linkText" data-ng-click="obj.fn(listIndex, tableConfig.objKeys, listData, obj.name, ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')))" data-ng-if="!listData.dataHide[obj.name] && obj.fn" target="_self">{{ obj.dist || ((obj.before || '') + (obj.value? obj.value[data[obj.name]]: listData[obj.name]) + (obj.unit || '')) }}</a>
		  </td>
		  <td data-ng-class="elemCss.tableTd" rowspan="1" data-ng-if="tableConfig.listBtn">
		  	<a data-ng-class="obj.css || elemCss.minibtn" data-ng-repeat="(x, obj) in tableConfig.listBtn" data-ng-click="obj.fn(listIndex, tableConfig.objKeys, listData)" data-ng-if="!listData.listBtnHide[obj.name]" target="_self" title="{{ obj.title || '' }}">{{ obj.text }}</a>
		  </td>
		</tr>
	</tbody>
</table>